# Include
include COPYING
include README
include TODO
recursive-include tools *
recursive-include examples *

# Tests
include test.py
recursive-include tests *

# Exclude
global-exclude .DS_Store
global-exclude .*~
global-exclude .pyc
